<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="{{ url_for('static', filename = 'node_modules/bootstrap/dist/css/bootstrap.min.css') }}" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=IBM+Plex+Sans:ital,wght@0,100;1,500&display=swap" rel="stylesheet" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/dashboard.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/colorTest.css') }}" />

    <title>PlaiBook</title>
  </head>

  <body class="">
    <div class="loading">
      <div class="row align-items-center justify-content-center text-center w-100 h-100 text-light">
        <div class="col-12">
          <i class="fa fa-spinner fa-5x fa-spin text-light"></i>
        </div>
      </div>
    </div>

    <div class="sideAlert"></div>

    <nav class="navbar navbar-expand-lg navbar-light text-light">
      <a class="navbar-brand p-2" href="/"><img src="{{ url_for('static', filename = 'images/FirstPage/logo.png') }}" alt="" srcset="" class="img-fluid" /></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto text-light">
          <li class="nav-item active">
            <a class="nav-link" href="/">HOME <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" aria-disabled="true">TEAMS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">CONTACT US</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="mainSection text-light p-5 d-none">
      <div class="row justify-content-center align-items-center">
        <div class="col-4 leftPart text-center">
          <div class="row w-100 h-100 align-items-center">
            <div class="col-12">
              <img class="img-fluid" src="{{ url_for('static', filename = 'images/FirstPage/logo.png') }}" alt="" srcset="" />
            </div>
          </div>
        </div>
        <div class="col-8 rightPart text-center p-5">
          <div class="row w-100 h-100 align-items-center">
            <div class="col-12 uploadDiv px-3 py-3 mt-5">
              <div class="">
                <p class="text-start">Choose video file:</p>
                <div class="uploadInput p-3 container text-center">
                  <label for="fileVideo" class="w-100 h-100">
                    <div class="row align-items-center">
                      <div class="col-4 mt-1 text-end">
                        <i class="fa fa-cloud-upload fa-3x" aria-hidden="true"></i>
                      </div>

                      <div class="col-8 mt-1 text-start">
                        <h3 class="">Browse your video.</h3>
                      </div>
                    </div>
                  </label>
                  <input style="display: none;" id="fileVideo" accept=".mp4,.mkv,.avi" type="file" name="video" class="videoField ms-auto mt-3" />
                </div>
                <div class="text-start p-3">
                  <h4>Or Put A YouTube URL.</h4>

                  <!-- <h3>Youtube URL.</h3> -->
                  <div class="mt-3">
                    <div class="">
                      <p class="ms-2 YoutubeURLP">Filename or YouTube URL</p>
                      <input class="formUploadInput YoutubeURL" type="text" name="url" id="" placeholder="ex:https://www.youtube.com" />
                    </div>
                  </div>
                  <div class="mt-3 row align-tems-center justify-content-center">
                    <div class="col-md-6">
                      <div class="">
                        <p class="ms-2 YoutubeURLP">Email Address to send results.</p>
                        <input class="formUploadInput emailAddress" type="email" name="email" id="" placeholder="ex:ex@gmail.com" />
                      </div>
                    </div>
                    <div class="col-md-6 pt-3 pe-5 text-end UBTN">
                      <button class="btn px-5 py-3 uploadBtn">Upload</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="mainSection text-light p-5">
      <div class="row justify-content-center align-items-center">
        <div class="col-4 leftPart text-center">
          <div class="row w-100 h-100 align-items-center">
            <div class="col-12">
              <img class="img-fluid" src="{{ url_for('static', filename = 'images/FirstPage/logo.png') }}" alt="" srcset="" />
            </div>
          </div>
        </div>
        <div class="col-8 rightPart mainSection_select text-center p-5">
          <div class="row w-100 h-100 align-items-center">
            <div class="col-12 uploadDiv px-3 py-3 mt-5">
              <div class="text-center">
                <!-- <h4 class="YoutubeURLP">Browse video or put Youtube link ?</h4> -->
              </div>
              <div class="w-100 text-center UBTN">
                <div class="row align-items-center">
                  <div class="col-md-6 mt-2">
                    <button class="btn px-5 py-3 uploadBtn BrowseVideo">Upload Video</button>
                  </div>
                  <div class="col-md-1 mt-2">
                    <span class="">OR</span>
                  </div>
                  <div class="col-md-5 mt-2">
                    <button class="btn px-5 py-3 uploadBtn YoutubeLinkBtn">Youtube link</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-8 rightPart mainSection_upload_video text-center p-5">
          <div class="row w-100 h-100 align-items-center">
            <div class="col-12 uploadDiv px-3 py-3 mt-5">
              <div class="">
                <div class="text-start">
                  <i class="text-start fa fa-arrow-circle-left fa-2x backSelect"></i>
                </div>
                <!--    <p class="text-center"> 
                  Choose video file:</p>    -->
                <div class="uploadInput p-3 container text-center">
                  <label for="fileVideo" class="w-100 h-100">
                    <div class="row align-items-center">
                      <div class="col-4 mt-1 text-end">
                        <i class="fa fa-cloud-upload fa-3x" aria-hidden="true"></i>
                      </div>

                      <div class="col-8 mt-1 text-start">
                        <h3 class="">Browse your video.</h3>
                      </div>
                    </div>
                  </label>
                  <input style="display: none;" id="fileVideo" accept=".mp4,.mkv,.avi" type="file" name="video" class="videoField ms-auto mt-3" />
                </div>
                <div class="col-md-6 pt-3 text-center UBTN w-100">
                  <button class="btn px-5 py-3 uploadBtn uploadRecord">Upload</button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-8 rightPart mainSection_upload_video_link text-center p-5">
          <div class="row w-100 h-100 align-items-center">
            <div class="col-12 uploadDiv px-3 py-3 mt-5">
              <div class="text-start">
                <i class="text-start fa fa-arrow-circle-left fa-2x backSelect"></i>
              </div>
              <div class="text-center">
                <h4>Put A YouTube URL.</h4>
                <div class="mt-3">
                  <input class="formUploadInput YoutubeURL" type="text" name="url" id="YoutubeURLVal" placeholder="ex:https://www.youtube.com" />
                </div>
                <div class="col-md-12 pt-3 text-center UBTN">
                  <button class="btn px-5 py-3 uploadBtn confirmYoutubeLink">Next</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--  <div class="col-8 rightPart mainSection_email text-center p-5">
          <div class="row w-100 h-100 align-items-center">
            <div class="col-12 uploadDiv px-3 py-3 mt-5">
              <div class="text-start">
                <i class="text-start fa fa-arrow-circle-left fa-2x backEmailSelect"></i>
              </div>
              <div class="text-center">
                <h4 class="YoutubeURLP">Email Address to send results.</h4>
                <input class="formUploadInput emailAddress" type="email" name="email" id="selectEmailVal" placeholder="ex:ex@gmail.com" />
              </div>
              <div class="w-100 pt-3 text-center UBTN">
                <button class="btn px-5 py-3 uploadBtn sendEmail">Send</button>
              </div>
            </div>
          </div>
        </div>  -->
      </div>
    </div>

    <div class="sectionTwo text-light p-5">
      <div class="row align-items-center justify-content-center">
        <div class="col-lg-7 mt-2 bg-light text-dark settingRight p-3">
          <!-- Stop color select -->
          <!--               
          <div class="row mt-3">
            <p class="head">Teams Colors</p>
            <div class="col-md-4 p-2">
              <p>Left Team Color</p>
              <div class="w-100">
                <p id="lt" class="row showColors showColorsBorder p-1 px-2 text-center">Select Your Colors</p>
                <div class="colorsOpt p-2"></div>
              </div>
            </div>
            <div class="col-md-4 p-2">
              <p>Right Team Color</p>
              <div class="w-100">
                <p id="rt" class="row showColors showColorsBorder p-1 px-2 text-center">Select Your Colors</p>
                <div class="colorsOpt p-2"></div>
              </div>
            </div>
            <div class="col-md-4 p-2">
              <p>Referer Color</p>
              <div class="w-100">
                <p id="referer" class="row showColors showColorsBorder p-1 px-2 text-center">Select Your Colors</p>
                <div class="colorsOpt p-2"></div>
              </div>
            </div>
          </div>               -->
          <!-- Stop color select -->

          <div class="row align-items-center">
            <!-- <hr /> -->
            <p class="head">
              <i class="fa fa-clock-o"></i> Match Start Time
            </p>
            <div class="col-4">
              <p>Hour</p>
              <div class="number mt-1">
                <span class="minus"><i class="fa fa-minus" aria-hidden="true"></i></span>
                <input id="start_time_hour" type="text" value="0" />
                <span class="plus"><i class="fa fa-plus" aria-hidden="true"></i></span>
              </div>
            </div>

            <div class="col-4">
              <p>Minute</p>
              <div class="number mt-1">
                <span class="minus"><i class="fa fa-minus" aria-hidden="true"></i></span>
                <input id="start_time_min" type="text" value="0" />
                <span class="plus"><i class="fa fa-plus" aria-hidden="true"></i></span>
              </div>
            </div>

            <div class="col-4">
              <p>Seconds</p>
              <div class="number mt-1">
                <span class="minus"><i class="fa fa-minus" aria-hidden="true"></i></span>
                <input id="start_time_sec" type="text" value="0" />
                <span class="plus"><i class="fa fa-plus" aria-hidden="true"></i></span>
              </div>
            </div>
          </div>

          <div class="row align-items-center mt-3">
            <hr />
            <p class="head">
              <i class="fa fa-clock-o"></i>Analysis Time
            </p>
            <div class="col-4">
              <p>Hour</p>
              <div class="number mt-1">
                <span class="minus"><i class="fa fa-minus" aria-hidden="true"></i></span>
                <input id="analysis_time_hour" type="text" value="0" />
                <span class="plus"><i class="fa fa-plus" aria-hidden="true"></i></span>
              </div>
            </div>

            <div class="col-4">
              <p>Minute</p>
              <div class="number mt-1">
                <span class="minus"><i class="fa fa-minus" aria-hidden="true"></i></span>
                <input id="analysis_time_min" type="text" value="0" />
                <span class="plus"><i class="fa fa-plus" aria-hidden="true"></i></span>
              </div>
            </div>

            <div class="col-4">
              <p>Seconds</p>
              <div class="number mt-1">
                <span class="minus"><i class="fa fa-minus" aria-hidden="true"></i></span>
                <input id="analysis_time_sec" type="text" value="0" />
                <span class="plus"><i class="fa fa-plus" aria-hidden="true"></i></span>
              </div>
            </div>
          </div>

          <hr />
          <p class="head">
            <i class="fa fa-clock-o p-2"></i>Analysis Types
          </p>
          <div class="row align-items-center mt-3 container px-5 py-3">
            <div class="col-6">
              <div class="custom-checkbox">
                <input class="styled-checkbox" type="checkbox" name="HeatMaps" id="heatMapsInput" value="heatMaps" />
                <span class="ms-1 custom-checkbox-span" for="">Heat Maps</span>
              </div>
            </div>

            <div class="col-6">
              <div class="custom-checkbox">
                <input class="styled-checkbox" type="checkbox" name="zone" id="zoneAnalysisInput" value="zone analysis" />
                <span class="ms-1 custom-checkbox-span" for="">Zone Analysis</span>
              </div>
            </div>
            <div class="col-6">
              <div class="custom-checkbox">
                <input class="styled-checkbox" type="checkbox" name="distance" id="showDistanceInput" value="show distance" />
                <span class="ms-1 custom-checkbox-span" for="">Show Distance</span>
              </div>
            </div>

            <div class="col-6">
              <div class="custom-checkbox">
                <input class="styled-checkbox" type="checkbox" name="speedAnalysis" id="speedAnalysisInput" value="speed analysis" />
                <span class="ms-1 custom-checkbox-span" for="">Speed Analysis</span>
              </div>
            </div>

            <div class="col-6 d-none">
              <div class="custom-checkbox">
                <input class="styled-checkbox" type="checkbox" name="youtube" id="textAnalysisInput" value="text analysis" />
                <span class="ms-1 custom-checkbox-span" for="">Text Analysis</span>
              </div>
            </div>
          </div>
          <hr />
          <p class="head">
            <i class="fa fa-clock-o p-2"></i>Email Address to send results.
          </p>
          <div class="px-3 py-1">
            <input class="formUploadInput emailAddress w-50" type="email" name="email" id="selectEmailVal" placeholder="ex:ex@gmail.com" />
          </div>

          <div class="col-12 text-center my-3">
            <button class="btn startProcessingBtn">Start Processing</button>
          </div>
        </div>
        <div class="col-lg-5 mt-2 imageSettingPart">
          <div class="row align-items-center">
            <img src="{{ url_for('static', filename = 'images/Secondpage/Playerfromationline.png') }}" alt="" srcset="" />
          </div>
        </div>
      </div>
    </div>

    <section class="footer pt-5 text-light">
      <div class="fooRow py-3">
        <div class="p-5">
          <div class="row">
            <div class="row">
              <div class="col-md-5 mt-2">
                <a href="/"><img src="{{ url_for('static', filename = 'images/FirstPage/Logo.png') }}" alt="" srcset="" /></a>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi praesentium obcaecati temporibus delectus vero ex dicta maxime quaerat. Possimus ea ducimus nisi consectetur officia perferendis alias excepturi pariatur optio rerum!</p>
              </div>

              <div class="col-md-2 mt-2">
                <h5>Company</h5>
                <ul class="list-unstyled">
                  <a href="aboutUs.html"><li>About Us</li></a>
                  <a href="contact.html"><li>Contact</li></a>
                </ul>
              </div>

              <div class="col-md-2 mt-2">
                <h5>FQA</h5>
                <ul class="list-unstyled">
                  <a href="index.html"><li>Terms</li></a>
                  <a href="index.html"><li>Privacy</li></a>
                  <a href="index.html"><li>Blog</li></a>
                </ul>
              </div>
              <div class="col-md-3 mt-2">
                <h5>Contact</h5>
                <ul class="list-unstyled">
                  <li class="foocart">Phone:01142951602</li>
                  <li class="whisLIst">Email:mahmoudelwan460@gmail.com</li>
                  <li class="whisLIst">Address:407 omer ibn khttab</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container py-2 text-center">
        <i class="fa fab-facebook" aria-hidden="true"></i>
        <span class="px-2 w-100">©<script>
                                    document.write(new Date().getFullYear())
                                  </script>All Rights Reserved.</span>
      </div>
    </section>

    <script src="{{ url_for('static', filename = 'node_modules/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename = 'node_modules/@popperjs/core/dist/umd/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename = 'node_modules/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename = 'js/bootstrap/dist/js/all.min.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script src="{{ url_for('static', filename = 'js/dashboard.js') }}"></script>
  </body>
</html>
